/* Paste tokens in here –––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --style-color-text-standard: #353535;
    --style-color-text-link: #42c9db;
    --style-color-ui-warning: #fda34f;
    --style-color-ui-background-gradient-stop-1: #ecf5ff;
    --style-color-ui-background-gradient-stop-2: #fcf5ff;
    --style-color-ui-background-gradient-transform-1-stop-1: 0.00000;
    --style-color-ui-background-gradient-transform-1-stop-2: 0.00000;
    --style-color-ui-background-gradient-transform-1-stop-3: 0.00000;
    --style-color-ui-background-gradient-transform-2-stop-1: 1.00000;
    --style-color-ui-background-gradient-transform-2-stop-2: 1.00000;
    --style-color-ui-background-gradient-transform-2-stop-3: 1.00000;
    --style-color-button-default: #43c9dc;
    --style-color-button-hover: #56def2;
    --style-color-button-active: #3ab0c1;
    --style-typography-text-large-font-name: "Helvetica-Regular";
    --style-typography-text-large-size: 24px;
    --style-typography-text-large-transform: none;
    --style-typography-text-large-decoration: none;
    --style-typography-text-large-letter-spacing: 0px;
    --style-typography-text-regular-font-name: "Helvetica-Regular";
    --style-typography-text-regular-size: 16px;
    --style-typography-text-regular-transform: none;
    --style-typography-text-regular-decoration: none;
    --style-typography-text-regular-letter-spacing: 0px;
    --style-typography-text-small-font-name: "Helvetica-Regular";
    --style-typography-text-small-size: 10px;
    --style-typography-text-small-transform: none;
    --style-typography-text-small-decoration: none;
    --style-typography-text-small-letter-spacing: 0px;
    --style-typography-text-x-small-font-name: "Helvetica-Light";
    --style-typography-text-x-small-size: 8px;
    --style-typography-text-x-small-transform: none;
    --style-typography-text-x-small-decoration: none;
    --style-typography-text-x-small-letter-spacing: 0px;
    --style-typography-button-font-name: "Helvetica-Bold";
    --style-typography-button-size: 12px;
    --style-typography-button-transform: uppercase;
    --style-typography-button-decoration: none;
    --style-typography-button-letter-spacing: 0px;
    --style-typography-link-font-name: "Helvetica-Regular";
    --style-typography-link-size: 12px;
    --style-typography-link-transform: none;
    --style-typography-link-decoration: underline;
    --style-typography-link-letter-spacing: 0px;
    --style-effect-ui-standard-dropshadow-type: DROP_SHADOW;
    --style-effect-ui-standard-dropshadow-radius: 4px;
    --style-effect-ui-standard-dropshadow-color: #0000004c;
    --style-effect-ui-standard-dropshadow-offset-x: 0px;
    --style-effect-ui-standard-dropshadow-offset-y: 4px;
    --style-effect-ui-soft-dropshadow-type: DROP_SHADOW;
    --style-effect-ui-soft-dropshadow-radius: 8px;
    --style-effect-ui-soft-dropshadow-color: #00000033;
    --style-effect-ui-soft-dropshadow-offset-x: 0px;
    --style-effect-ui-soft-dropshadow-offset-y: 4px;
    --style-grid-standard: 8px;
    --style-size-spacer-medium: 16px;
    --style-size-spacer-large: 24px;
    --style-size-spacer-x-large: 32px;
    --style-size-spacer-xx-large: 48px;
    --style-size-corner-radius-standard: 4px;
    --style-size-corner-radius-container: 8px;
    --style-size-border-button: 1px;
    --style-size-border-textfield: 2px;
  }
  